pytest-homeassistant-custom-component @ git+https://github.com/MatthewFlamm/pytest-homeassistant-custom-component@0.13.244 # HA core 2025.5.1

aiodiscover
aiodhcpwatcher
aiohttp-cors
scapy
janus
fnv-hash-fast
psutil-home-assistant

-r requirements_dev.txt